@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 245 245 245;
  --foreground: 33 33 33;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}
